In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import csv

# File to Load 
file_to_load = "Resources/Wine_Bottled_2019.csv"

# Read Purchasing File and store into Pandas data frame
wine_data = pd.read_csv(file_to_load)
wine_df = wine_data

In [4]:
wine_df.head(1000)

,Bottled Wine Gallons by State,Bottled Still Wines,Bottled Effervescnet Wines,Month
0,Alabama,"30,153",200,December
1,Alaska,"5,247",0,December
2,Arizona,"80,784","2,059",December
3,Arkansas,"24,197",0,December
4,California,"39,007,466","1,110,404",December
...,...,...,...,...
540,Wisconsin,"353,647",496,March
541,Wisconsin,"156,990",0,May
542,Wisconsin,"132,404","1,063",November
543,Wisconsin,"257,117",483,October
544,Wisconsin,"353,154",227,September

In [9]:
wine_df.dtypes

Bottled Wine Gallons by State    object
Bottled Still Wines              object
Bottled Effervescnet Wines       object
Month                            object
dtype: object

In [7]:
wine_df.groupby(by="Bottled Wine Gallons by State", dropna=False).sum('Bottled Still Wines')

,Bottled Still Wines,Bottled Effervescnet Wines,Month
Bottled Wine Gallons by State,,,
Alabama,"30,1530000300488077247",200000000000,DecemberAprilFebruaryJanuaryJulyJuneMarchNovem...
Alaska,"5,2473,6571,7190157,16632,7126,5751,8862,09706...","03,526000002,33600466822",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Arizona,"80,7847558,18924,479060,046","2,059001,98104,809",DecemberJanuaryJuneMarchOctoberSeptember
Arkansas,"24,19728,67511,27622,74727,39531,0131,19033,89...","000001,153000001,584",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
California,"39,007,46654,104,22224,102,26643,278,48046,393...","1,110,4041,325,33623,2342,012,9231,703,8322,54...",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Colorado,"188,85442,49235,79032,25120,64547,84769,964113...","35580013001,52002,628074",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Connecticut,"116,3961,4583,8041,7497,9002,00510,78215,7991,...","4,44400000000000",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Delaware,"1,794558008164,0526,00700010,276",00000000000,DecemberAprilFebruaryJanuaryJulyJuneMarchMayNo...
District of Columbia,"57,38605,0017,100",0000,DecemberJuneMarchSeptember
Florida,"332,603111,311503,73342,887318,877370,537420,3...","90003,5364994601,671038090",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Georgia,"88,3599,7794,2816,21214,6647,58282,22936,6589,...","2,8782,0870043200005311,4670",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Hawaii,"2,8874,3353,4002,7142,3283,84903,3423,7322,325...","39472101,0008381,40801,45105762,0611,321",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Idaho,"44,58432,408025,07612,50650,5476,62167,5406,44...",000000000000,DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Illinois,"318,909140,62996,071126,811114,745168,229121,3...","40,78600000011,518018,99716,99618,842",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Indiana,"286,792162,67534,251125,317129,170250,113135,1...","43100081001,072001439,837",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Iowa,"115,9485,0075,0534,0746,1567,51223,14935,8128,...","2,7355005100350010251,023",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Kansas,"97,2901,1332,0321,5312,8081,7794,7695,8852,032...",000000000000,DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Kentucky,"238,45952,223385,62124,9199,549192,318310,4708...",2100000000000,DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Louisiana,"12,0289,0300009,4388,3770011,492",0000000000,DecemberAprilAugustJanuaryJulyJuneMarchMayOcto...
Maine,"60,64435,040014,75748,93362,08534019,6823828,7...","3,51600000000000",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Maryland,"115,71120,76311,2664,38121,95327,32226,98936,0...","5,372000000130000",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Massachusetts,"218,298131,91399,01499,98061,778176,087113,044...","1,14800000002,074000",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Michigan,"753,563143,868247,439105,813125,516237,006572,...","17,26510,17804,8396,45018,981012,989014,4773,3...",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Minnesota,"149,7442,2939641337781,625145,24375,3829023641...","1,2680000003,5750004,444",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Mississippi,"3,157574,67706,17631",000000,DecemberAprilJanuaryJuneMarchNovember
Missouri,"216,312115,1635,84275,11684,556141,21245,06712...","13,76413,429016,0087,30215,677015,45808,032383...",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Montana,"38,03900005634,73222,67600026,644","4,66900000000000",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Nebraska,"79,6541,33401,68446,3064,35623,15921,2055,2705...",04500226002950000,DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Nevada,"006601933,590553030,0280000",000000000000,DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
New Hampshire,"69,78799802232,75014,27311,76710,2165,19619,30...","2,326000017700000232",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
New Jersey,"249,510155,10850,241121,97693,274100,359122,38...","6,1266,11606,7696,4925,25706,21406,6106,1569,388",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
New Mexico,"132,00940,723101,44449,97320,192100,58753,3853...","52,4660042,94243,90451,329032,605049,09682,656...",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
New York,"2,349,5032,968,1763,067,7292,515,8372,940,8182...","152,461263,65220,158294,254173,357161,32341,85...",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
North Carolina,"436,273315,129260,261212,911236,834332,794198,...","4,97397701,1952,90789303,64101,3021,3964,271",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
North Dakota,"17,3381,348336271",0000,DecemberJuneMarchSeptember
Ohio,"897,821496,031228,047486,789531,530597,003323,...","1,174178015220158056346650135988",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Oklahoma,"73,1900032200748710096871",00000000000,DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Oregon,"1,658,682986,780395,039761,378691,0871,431,818...","20,31155,729021,9565,78234,020051,110030134,41...",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Pennsylvania,"2,046,2744,763,021871,8611,792,5612,009,1712,0...","8,99221404212,5451,18702,31901,2341,6952,016",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Rhode Island,"8,65938012017,20025,82118,698",16900000,DecemberFebruaryJanuaryJuneMarchSeptember
South Carolina,"37,11551405826301,2136001,56807806041,932",000000000000,DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
South Dakota,"33,92026,28120,28140,292",26902110,DecemberJuneMarchSeptember
Tennessee,"126,869153,44925,78480,298174,93929,55219,9695...","3,563303056264267050301600513",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Texas,"725,115536,641143,015496,217418,815521,672165,...","6,491009681,92221001,207000863",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Utah,"11,6366325,3872,515",0000,DecemberJuneMarchSeptember
Vermont,"343,377294,002176,893299,825385,832343,002201,...","1,756000024,386011,65704,69815,501783",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Virginia,"435,094133,50264,707115,47097,430169,02991,558...","6,9952,94601,5412,448008,3970006,211",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Washington,"2,371,0152,735,897179,0741,772,9772,083,1223,0...","34,54196,529053,53240,173123,4110111,356050,19...",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
West Virginia,"31,4407891,100001,1181,9302,22601,0281,6305,287",00000004030000,DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Wisconsin,"318,685228,878106,965199,437171,676268,095140,...","8,658004,655453170049601,063483227",DecemberAprilAugustFebruaryJanuaryJulyJuneMarc...
Wyoming,"5,598",0,December